<div class="container">
    <div class="row ">
        <div class="col-3 ">
            <div class="card d-flex justify-content-center" *ngFor="let item of articles">
                <img src="{{item.author.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          
              
              
        </div>
    </div>

</div>