
.content h2{
    font-size: 24px;
    font-weight: 700;
}
.card{
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border: 0px solid #fff;
}
.main_img {
    height: 240px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.small_img{
    width: 60px;
    height: 60px;
}
.name_date{
    font-weight: 500;
    margin-bottom: 5px;
}
.name_date p{
    font-size: 14px;
    color: #666161;
    margin-bottom: 0;
}
.name_date h6{
    font-weight: 600;
    margin-bottom: 5px
}
.card{
    height:320px;
    cursor: pointer;
}
.nav-tabs{
   
   


}

.nav-link{
   width:567px;
    font-size: 20px;
    font-weight: 700;
    
    

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #008374!important;
}

.tags_css ul li {
    display: inline-block;
}
.tags_css ul a {
    color: #555555;
    font-size: 14px;
    padding: 6px 20px;
    /* margin: 0 6px 8px 0; */
    border: 1px solid #d5d5d5;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
    margin-right: 10px;
    
}
.tags_css  ul {
    padding-left: 0rem;
}
 .tags_css ul a:hover {
    color: #fff;
    border: 1px solid #008374;
    background: #008374;
}
.box_shadow{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}