#btn-submit{
 
    font-weight: 600;
    font-size: 16px;
    background-color: gainsboro;
    color:#000

}
#btn-submit:hover{
    background-color: #74e4d7;
    color: #fff;
   
}
.signup{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    padding:30px;
}
.navgiated{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color:whitesmoke;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.signIn{
    background-color: #008374;
    padding: 20px;
}
.heading{
    color:white;
    font-size: 26px;
    font-weight: 700;
}