
<div class="container mt-5"  >
    <div class="row d-flex justify-content-center " *ngIf="!showLogin">
        <div class="col-6 signup mt-3 mb-3 signIn" >
            <form [formGroup]="Form" (ngSubmit)="signin()">
                <h4 class="text-center  mb-3 heading" >SignIn</h4>
                
                <div class="mb-3">
               
                  <input type="email" class="form-control rounded-pill" id="email" placeholder="email" formControlName="email">
                </div>
                <div class="mb-3">

                  <input type="password" class="form-control rounded-pill " id="password" placeholder="Password" formControlName="password">
                </div>
                  <div class="d-grid gap-2">
                    <button class="btn  rounded-pill " id="btn-submit" type="submit">Sign In</button>
                  </div>
                  <div >
                    <a class="auth-toggle-link navgiated mt-4" (click)="openSignUp()">Don't have account? Click for sign-up</a>
                  </div>

                  
             
              </form>
        </div>
    </div>
</div>




  <div class="container mt-5"  >
    <div class="row d-flex justify-content-center" *ngIf="showLogin">
        <div class="col-6 signIn mt-3 mb-3">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <h4 class="text-center heading  mb-3" >SignUp</h4>
                <div class="mb-3 ">
                    <input type="text" class="form-control rounded-pill" placeholder="User Name" formControlName="username" >
                  </div>
                <div class="mb-3">
                  <input type="email" class="form-control rounded-pill"  placeholder="email" formControlName="email">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control rounded-pill" placeholder="Password" formControlName="password">
                </div>
                
                  <div class="d-grid gap-2">
                    <button class="btn  rounded-pill" id="btn-submit" type="submit">Registration</button>
                  </div>
                  <div >
                    <a class="auth-toggle-link navgiated mt-4" (click)="openLogin()">Already have account? Click for Login</a>
                  </div>
              </form>
        </div>
    </div>
</div>





