.navbar{
    background-color: #008374;
  

}
.navbar-brand{
    
    color:#fff;

}

.nav-link{
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255,0.6)
}
.nav-link:hover{
    color:#fff;

}


.sticked{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
.sticked{
    transition:all 0.5s;
    z-index: 997;
    background-color: #00796b;
}

.breadcrumbs .page-header {
    padding: 60px 0 60px 0;
    min-height: 20vh;
    position: relative;
    background-color: var(--color-primary);
  }
  
  .breadcrumbs .page-header h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
  }
  
  .breadcrumbs .page-header p {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .breadcrumbs nav {
    background-color: #f6f6f6;
    padding: 20px 0;
  }
  
  .breadcrumbs nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-default);
  }
  
  .breadcrumbs nav ol a {
    color: var(--color-primary);
    transition: 0.3s;
  }
  
  .breadcrumbs nav ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs nav ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs nav ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--color-secondary);
    content: "/";
  }
.nav-link{
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    border-bottom: 2px solid #00796b;
}
.nav-link:hover{

    color:#fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    border-bottom: 2px solid tomato;
}

.nav-link:active{
    color: #fff;
    border-bottom: 2px solid tomato;
}


