<div class="">
  <nav class="navbar navbar-expand-lg navbar d-flex align-items-center sticked">
    <div class="container d-flex align-items-center justify-content-between">
      <a class="navbar-brand fw-bold fs-2" href="#">Impact <span style="color:tomato">.</span></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="/" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active-link"
             >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="articles" routerLinkActive="active-link"
             >Articles</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link"
             >LogOut</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="breadcrumbs mt-5">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Blog</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a
              odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum
              dolorem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

