<div class="container mt-5 p-0" >
    <div class="row d-flex justify-content-center ">
        <div class="col-5 signup mt-3 mb-3">
            <form>
                <h4 class="text-center  mb-3" >SignIn</h4>
                
                <div class="mb-3">
               
                  <input type="email" class="form-control rounded-pill" id="email" placeholder="email">
                </div>
                <div class="mb-3">

                  <input type="password" class="form-control rounded-pill" id="password" placeholder="Password">
                </div>
                  <div class="d-grid gap-2">
                    <button class="btn  rounded-pill" id="btn-submit" type="button">Sign In</button>
                  </div>
                  <div >
                    <a href="#" class=" navgiated mt-2" routerLink="/signup"  >If you not signUp? Please Signup</a>
                  </div>

                  
             
              </form>
        </div>
    </div>
</div>