<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 border border-2 dark p-4">
            <form  [formGroup]="myForm" (ngSubmit)="updateSettings()">
                <h4 class="text-center mt-2 mb-3">Add Your Title</h4>
                <div class="mb-3 ">
                  <input type="text" class="form-control" placeholder="Article Title" formControlName="title">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="What's this article about?" formControlName="body">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="6" placeholder="Write your article(in markdown)" id="floatingTextarea" formControlName="description"></textarea>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter Tags" formControlName="tagList">
                  </div>
                <div class="text-end">

                    <button type="submit" class="btn ">Add Article</button>
                </div>
              </form>
        </div>
    </div>
</div>