<div class="container mt-5">
    <div class="row">
        <div class="col-4" *ngFor="let item of articleslist">
            <div class="card mt-3" >
                <div class="card-body">
                  <div class="content d-flex gap-2 p-2">
                    <img src="{{item.author.image}}" alt="" class="image rounded-circle">
                  <h5 class="card-title fw-bold truncate-text" id="someDiv">{{item.title}}</h5>
                  </div>
                  <p class="fw-bold mt-2 fs-3">Author : {{item.author.username}}</p>
                  <p class="fw-bold mt-2 fs-5">CreatedAt : {{item.createdAt|date:'mm-dd-yyyy'}}</p>
              
                 
                </div>
              </div>

        </div>
    </div>
    
</div>