.card{
    height:250px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.truncate-text {
    text-overflow: ellipsis;
    max-height: 70px;
    overflow: hidden;
   -webkit-line-clamp: 3;   
   -webkit-box-orient: vertical; 
  }

  .image{
    height:80px;
    width:80px;

    
  }
  .truncate-text:hover{
    color: #008374;
  }