<div class="container mt-5 pt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <div class="main">

                <div class="signup">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="chk" aria-hidden="true">Sign up</label>
                        </div>
                        <ul class="errors text-left fw-bold text-danger">
                            <li class="ms-5" *ngIf="err">{{'UserName'+' '+err?.username[0]}}</li>
                            <li class="ms-5" *ngIf="err">{{'Email'+' '+err?.email[0]}}</li>
                            
                        </ul>
                      
                        <div class="mb-3 mt-2">
                            <input type="text" class="form-control" placeholder="UserName" formControlName="username">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Email" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Password" formControlName="password">
                        </div>
                        <div class=" mt-2">
                            <a class="navigateLink"routerLink="/user/signin">Already SignUp? Please SignIn</a>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="reg mt-3">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>