<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-12  ">
            <div class="img rounded-circle">
                <img src="{{selectedProfile.user.image}}" alt="">
            </div>
            <h1 class="profile">{{selectedProfile.user.username|titlecase }}</h1>  
            <button class="btn mb-3">Edit Setting</button>          
        </div>
    </div>
</div>
<div class="container mt-2 mb-3">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Articles</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Faviorte Articles</button>
        </li>
       
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">MyPosts</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">MyFaviortePosts</div>
        
      </div>

</div>
