.header
{
    background-color: black;
    color:white;
}

.box_shadow{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        padding: 30px;
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;

}
.btn{
    width:120px;
    height: 40px;
    background-color: #00796b;
    color:#fff;
    border-radius: 0px;
}
.btn:hover{
    background-color: bisque;
    color: #000;

}

.btn-1{
    width:120px;
    height: 40px;
    background-color: tomato;
    color:#fff;
    border-radius: 0px;
}
.btn-1:hover{
    background-color: bisque;
    color: #000;
   

}
.btn-3{
    height: 50px;
    width:180px;
    color:#fff;
    background-color: #00796b;
    border-radius: 60px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.btn-3:hover{
    color: black;
    background-color: beige;
    border:1px solid #00796b;
}